.JSON_Array_Margin{
    border-left:1px solid black;
    border-top:1px solid black;
    border-bottom:1px solid black;
}

.JSON_Object{
    border-left:1px solid black;
    border-radius:5px;
}

.JSON_object{
    color:brown;
}

.JSON_string{
    color:black;
}

.JSON_index{
    vertical-align:top;
    font-size:90%;
    color:#333333;
}

.JSON_undefined{
    color:red;
    font-size:80%;
}

.JSON_emptyString{
    color:red;
    font-weight:bold;
}

.JSON_null{
    color:red;
    font-weight:bold;
}

.JSON_boolean{
    color:blue;
    font-weight:bold;
}

.JSON_number{
    color:blue;
    font-family:courier new;
}

.TDD_menu{
    font-size:80%;
}

.TDD_resultados{
    min-height:80px;
    border:1px solid gray;
    background-color:#CCF;
}

.TDD_error{
    padding:3px;
    margin-left:20px;
}

.TDD_resultado{
    border:1px solid gray;
}

.TDD_label_nodo{
    font-size:80%;
    color:blue;
    vertical-align:top;
}

.TDD_label_lista{
    font-size:80%;
    color:blue;
    vertical-align:top;
}

.TDD_contenido{
    border-left:1px solid blue;
    border-radius:4px;
}

.TDD_array{
    border-left:1px solid blue;
    border-top:1px solid blue;
    border-bottom:1px solid blue;
}

.TDD_label:after{
    /* content:'\2320' */
    content:':'
}

.TDD_iguales{
    background-color:#CFC;
}

.TDD_esperado{
    background-color:#AFA;
}

.TDD_esperado_no_especificado{
    background-color:#AFA;
    font-size:70%;
    color:gray;
}

.TDD_obtenido{
    background-color:#FBB;
}

.TDD_obtenido_sobrante{
    background-color:#BFF;
}

.TDD_nodo:first_child{
}

.TDD_modulo_titulo{
    font-weight:bold;
}

.TDD_estado_pendiente:before{
    /* content:'\27B2';
    color:blue; */
    content:url('tdd_estado_pendiente.png'); 
    float:left;
}

.TDD_estado_en_espera{
    background-image: url('../imagenes/reloj.gif');
    background-size: 16px 16px;
    padding-left:20px;
    background-position: left top;
    background-repeat: no-repeat;
    font-style:italic;
    float:left;
}

.TDD_estado_comenzada{
    background-image: url('../imagenes/reloj.gif');
    background-size: 16px 16px;
    padding-left:20px;
    background-position: left top;
    background-repeat: no-repeat;
    float:left;
}

.TDD_estado_ok:before{
    /* content:'\2714'; 
    color:green; */
    content:url('tdd_estado_ok.png'); 
    float:left;
}

.TDD_estado_ignorada:before{
    /* content:'\25B2';
    color:yellow; */
    content:url('tdd_estado_ignorada.png'); 
    float:left;
}

.TDD_estado_fallida:before{
    /* content:'\2718';
    color:red; */
    content:url('tdd_estado_fallida.png'); 
    float:left;
}

.TDD_caso{
    margin-left:20px;
}

.TDD_caso_titulo{
}

pre{
    margin:0px
}

#debugDirecto{
    font-size:120%;
    background-color:yellow;
}
