/* tipox.css */

body{
    margin:0px;
}

.debug_excepcion{
    display:none;
    display:block;
    background-color:yellow;
}

.mensaje_error{
    background-color:yellow;
}

.logo_tipox{
    font-family:comic;
    font-style:italic;
    font-weight:bold;
    text-decoration:none;
    font-size:110%;
    color:brown;
}

.i_logo{
    font-family:comic;
    font-style:italic;
    font-weight:bold;
    text-decoration:none;
    font-size:110%;
    color:brown;
    border:2px solid brown;
    background-color:#DD0;
    padding-left:7px;
    padding-right:7px;
    border-radius:50%;
}

.app_menu_principal{
    padding-top:8px;
    padding-bottom:8px;
    padding-left:6px;
    margin:0px;
    border-bottom:1px solid #040;
    background-color:#CCD;
}

.app_elemento_menu_principal{
    border:1px solid gray;
    border-radius:3px;
    background-color:#BBC;
    color:black;
    font-weight:bold;
    font-size:90%;
    padding:3px;
    margin:3px;
    font-family:Arial;
    text-decoration:none;
}

.app_elemento_menu_principal_actual{
    background-color:#FFF;
    /*
    border:1px solid gray;
    border-radius:3px;
    padding:3px;
    margin:3px;
    */
}

.div_aplicacion{
    margin:8px;
}

pre{
    margin:0px
}

#debugDirecto{
    font-size:120%;
    background-color:yellow;
}

.advertencia_importante{
    font-weight:bold;
    color:#600;
    border:2px dotted red;
    padding:4px;
    margin:6px;
    border-radius:8px;
}

.aviso_error_evento{
    position:absolute;
    border:1px solid red;
    border-radius:8px;
    margin:10px;
    padding:4px;
    color:#500;
    background-color:#FF8;
    z-Index:10;
}