.grilla_cont_tabla caption{
    border:3px #888 solid;
    border-bottom:0px;
    padding:2px;
    white-space:nowrap;
    text-align:left;
}

.grilla_cont_tabla{
    border:3px #888 solid;
    border-collapse:collapse;
}

.grilla_cont_tabla table{
    border-collapse:collapse;
    padding:0px;
}

.grilla_cont_tabla th{
    border-collapse:collapse;
    padding:0px;
}

.grilla_cont_tabla td{
    border-collapse:collapse;
    padding:0px;
}

.grilla_tabla_int td{
    border:2px #AAA solid;
}

.grilla_tabla_int th{
    border:2px #AAA solid;
}

.grilla_cont_tr_datos td{
    min-height:100px;
}
