/* tipox.css */

body{
    margin:0px;
}

.debug_excepcion{
    display:none;
    display:block;
    background-color:yellow;
}

.mensaje_error{
    background-color:yellow;
}

.tipox_logo{
    font-family:comic;
    font-style:italic;
    font-weight:bold;
    text-decoration:none;
    font-size:110%;
    color:brown;
}

.i_logo{
    font-family:comic;
    font-style:italic;
    font-weight:bold;
    text-decoration:none;
    font-size:110%;
    color:brown;
    border:2px solid brown;
    background-color:#DD0;
    padding-left:7px;
    padding-right:7px;
    border-radius:50%;
}

.app_menu_principal{
    padding-top:8px;
    padding-bottom:8px;
    padding-left:6px;
    margin:0px;
    border-bottom:1px solid #040;
    background-color:#CCD;
}

.app_elemento_menu_principal{
    border:1px solid gray;
    border-radius:3px;
    background-color:#BBC;
    padding:3px;
    margin:3px;
}

.div_aplicacion{
    margin:8px;
}

.TDD_menu{
    font-size:80%;
    opacity:80%;
}

.TDD_resultados{
    min-height:80px;
    border:1px solid gray;
    background-color:#CCF;
}

.TDD_error{
    padding:3px;
    margin-left:20px;
}

.TDD_resultado{
    border:1px solid gray;
}

.TDD_label_esperado_obtenido{
    font-size:80%;
    color:blue;
    vertical-align:top;
}

.TDD_label{
    font-size:80%;
    color:blue;
    vertical-align:top;
}

.TDD_label:after{
    content:'\2320'
}

.TDD_iguales{
    background-color:#CFC;
}

.TDD_esperado{
    background-color:#AFA;
}

.TDD_obtenido{
    background-color:#FBB;
}

.TDD_funcion_titulo{
    font-weight:bold;
}

.TDD_prueba_pendiente:before{
    content:'\27B2';
    color:blue;
}

.TDD_prueba_ok:before{
    content:'\2714';
    color:green;
}

.TDD_prueba_ignorada:before{
    content:'\25B2';
    color:yellow;
}

.TDD_prueba_fallida:before{
    content:'\2718';
    color:red;
}

.TDD_caso{
    margin-left:20px;
}