h1{
    margin-top:0px;
}

.ilustracion_principal{
    float:left;
}

.pregunta{
    font-size:200%
}

.opcion{
    font-size:160%;
    border-radius:8px;
    border:3px solid blue;
    margin:10px;
    padding:4px;
    float:left;
}

.correcta{
    border:3px solid green;
    color:green;
}

.incorrecta{
    border:3px solid red;
    color:red;
}

.acerto{
    background-color:LightGreen;
    border:3px solid blue;
}

.erro{
    background-color:#FAA;
    border:3px solid blue;
}

.falta{
    background-color:#FCA;
    border:3px solid blue;
}

.inactivo{
    background-color:#DDD;
}

.cantidad_jugadores{
    margin:4px;
    padding:2px;
    border:2px solid gray;
    border-radius:15px;
    display:inline-block;
    font-size:80%;
    font-family:arial;
    width:25px;
    height:25px;
    text-align:center;
}

.jugador{
    margin:4px;
    padding:2px;
    border:3px solid gray;
    border-radius:10px;
    display:inline-block;
}

.cuantos{
    font-size:75%;
    position:relative;
    top:-25px;
}

.nuevo{
    background-color:LightGreen;
}

.que_jugo{
    position:relative;
    top:-8px;
    display:inline-block;
    height:15px;
    width:15px;
    font-size:70%;
    font-weight:bold;
    font-family:arial;
    border:2px solid #CCC;
    background-color:#CCC;
    text-align:middle;
    vertical-align:top;
    left:5px;
}

.aclaracion{
    font-size:120%;
    color:blue;
    /* display:block-inline; */
    clear:both;
}