h1{
    margin-top:0px;
}

.ilustracion_principal{
    float:left;
}

.pregunta{
    font-size:200%
}

.opcion{
    font-size:160%;
    border-radius:8px;
    border:2px dashed green;
    margin:10px;
    padding:4px;
    float:left;
}

.correcta{
    border:3px solid green;
    color:green;
}

.acerto{
    border:2px solid blue;
    border-radius:4px;
    color:green;
    font-weight:bold;
}

.cantidad_jugadores{
    margin:4px;
    padding:2px;
    border:2px solid gray;
    border-radius:15px;
    display:inline-block;
    font-size:80%;
    font-family:arial;
}

.jugador{
    margin:4px;
    padding:2px;
    border:3px solid gray;
    border-radius:10px;
    display:inline-block;
}

.cuantos{
    font-size:75%;
    position:relative;
    top:-25px;
}