.tabla_podio td{
    height:120px;
    width:120px;
}

.podio_nombres{
    vertical-align:bottom;
    text-align:center;
}

.podio_numeros{
    background-image: url('imagenes/fondo_madera.jpg');
    font-size:400%;
    font-weight:bold;
    text-align:center;
    vertical-align:center;
    color:white;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: black;
}

.ala_izquierda{
    float:left;
    margin-right:80px;
}

.ganadores th{
    background-color:MediumSeaGreen;
    padding:2px;
    font-size:80%;
}
.ganadores td{
    background-color:LightGreen;
    padding:3px;
}