table[class=tabla_fija]{
    border:3px solid red;
    border-collapse:collapse;
}

.tabla_fija tr:first-child  td{
    background-color:#DAF;
}

.tabla_fija tr:nth-child(2) td{
    background-color:#DAF;
}

.tabla_fija  td:first-child{
    background-color:#EBF;
}

.tabla_fija  td:nth-child(2){
    background-color:#EBF;
}

.tabla_fija td{
    border:2px solid gray;
    white-space:nowrap;
    text-overflow:ellipsis;
    padding-left:2px;
    padding-right:2px;
}

.celda_cabezal_fijo{
    border:2px solid gray;
    white-space:nowrap;
    text-overflow:ellipsis;
    padding-left:2px;
    padding-right:2px;
}

.tabla_cabezal_fijo{
    position:fixed;
    top:0px;
    left:0px;
    border:2px solid brown;
    background-color:#FAC;
    /* opacity:0.8; */
    overflow:hidden;
}