/* Por $Author$ Revisión $Revision: 23 $ del $Date$ */
body{
}

table{
    border-collapse:collapse;
    margin:0px;
    border:1px dashed green;
}

td{
    border:1px dashed green;
}

.revisar_modificado{
    color:red;
}

.revisar_txt{
    color:blue;
}

.revisar_num{
    font-weight:bold;
}